.hw-table {
    width: 500px;
    position: fixed;
    border: #ebebeb solid 1px;
    height: 360px;
    top: 50%;
    left: 50%;
    display: none;
    background: #9cdcf2;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
    margin-left: -250px;
    margin-top: -140px;
}

.hw-title {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    position: relative;
}

.hw-input-content {
    margin-top: 20px;
}

.hw-input {
    overflow: hidden;
    margin: 0px 0px 20px 0px;
}

.hw-input label {
    float: left;
    width: 90px;
    padding-right: 10px;
    text-align: right;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}

.hw-input input.list-input {
    float: left;
    line-height: 35px;
    height: 35px;
    width: 350px;
    border: #ebebeb 1px solid;
    text-indent: 5px;
}

.comments {
    float: left;
    height: 150px;
    width: 350px; /*自动适应父布局宽度*/
    overflow: auto;
    word-break: break-all;
    border: #ebebeb 1px solid;
    text-indent: 5px;
    /*在ie中解决断行问题(防止自动变为在一行显示，主要解决ie兼容问题，ie8中当设宽度为100%时，文本域类容超过一行时，
    当我们双击文本内容就会自动变为一行显示，所以只能用ie的专有断行属性“word-break或word-wrap”控制其断行)*/
}

.hw-title {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    position: relative;
}

.hw-title span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.hw-title span a {
    display: block;
}

.hw-button {
    width: 30%;
    margin: 30px auto 0px auto;
    line-height: 40px;
    font-size: 14px;
    border: #ebebeb 1px solid;
    text-align: center;
}

.hw-button a {
    display: block;
}